<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NRR Calculator</title>

<link rel="stylesheet" href="../static/home.css">
    
    
</head>
<body>
    <div class="container">
        <h1>Welcome to NRR IPL 2024 Calculator!</h1>
        <h2>By- Sai Smaran Panda</h2>

        <h4>
            <span class="warning">&#9888;</span>
            Enter team name in short form i.e. <strong>rcb</strong> instead of Royal Challengers Bengaluru
        </h4>

        <form action="/calculate_nrr" method="POST">
            <label for="team_name">Enter team name to get NRR:</label>
            <input type="text" id="team_name" name="team_name">
            <button type="submit">Calculate NRR</button>
        </form>
        
        <a href="https://github.com/sai-3000/IPL2024-NRR-Calculator" target="_blank" class="github-button">GitHub Repository</a>
    </div>
</body>


</body>
</html>
